data

# ==============================
# Python
# ==============================

**pycache**/
*.pyc
*.pyo
*.pyd

# ==============================
# Entornos virtuales
# ==============================

venv/
env/
.venv/

# ==============================
# Jupyter Notebook
# ==============================

.ipynb_checkpoints/

# ==============================
# Archivos del sistema (macOS / Windows)
# ==============================

.DS_Store
Thumbs.db

# ==============================
# IDEs / Editores
# ==============================

.vscode/

# ==============================
# Archivos de entorno
# ==============================

.env

# ==============================
# Logs
# ==============================

*.log

# ==============================
# Archivos temporales
# ==============================

*.tmp
*.temp
